:root {
    --border: 1px solid black;
}

body {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* justify-content: space-evenly; */

}

.tools div {
    width: 200px;
}

.referenceDiv {
    /* background-color: aliceblue; */
    /* flex-direction: column; */
}

#referenceImg {
    position: relative;
    right: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.tools-art {

    /* flex-direction: column;
    justify-content: center; */
}

h1 {
    font-family: "Tahoma";
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    /* margin: 1em 0 0.25em; */
}

h2:first-of-type {
    margin-top: 0.5em;
}

#pixelCanvas tr,
#pixelCanvas td {
    border: var(--border);
    border-spacing: 0;
    outline: 0;

}

#pixelCanvas {
    margin-bottom: 8px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type="number"] {
    width: 6em;
}

#lastColors {
    border: none;
}

#colorPickerPx {
    margin-bottom: 12px;
}

#colorToolsDiv {
    margin-top: 10px;
}

#result {
    margin-top: 8px;
}

#sizePicker {
    margin-bottom: 4px;
}